<?xml version="1.0" encoding="UTF-8"?>
<ReshakaConfig>
    <parameter name="mainAdminId" list="false">
        <value>99999999</value>
    </parameter>
    <parameter name="mainAdminLogin" list="false">
        <value>admin</value>
    </parameter>
    <parameter name="mainAdminEmail" list="false">
        <value>admin@reshaka.ru</value>
    </parameter>
    <parameter name="mainAdminPassword" list="false">
        <value>reshaka</value>
    </parameter>
    <parameter name="adminPercent" list="false">
        <value>0.3</value>
    </parameter>
    
    <parameter name="systemUserId" list="false">
        <value>1000000000</value>
    </parameter>
    <parameter name="systemUserLogin" list="false">
        <value>Reshaka.Ru</value>
    </parameter>
    <parameter name="systemUsernEmail" list="false">
        <value>reshaka@reshaka.ru</value>
    </parameter>
    <parameter name="systemUsernPassword" list="false">
        <value>reshaka</value>
    </parameter>
    
    <parameter name="chatAdminId" list="false">
        <value>77777777</value>
    </parameter>
    <parameter name="chatAdminLogin" list="false">
        <value>support</value>
    </parameter>
    <parameter name="chatAdminEmail" list="false">
        <value>support@reshaka.ru</value>
    </parameter>
    <parameter name="chatAdminPassword" list="false">
        <value>reshaka</value>
    </parameter>
    
    <parameter name="subjects" list="true">
        <value>Выберите предмет</value>
        <value>Математика</value>
        <value>Математический анализ</value>
        <value>Физика</value>
        <value>Информатика</value>
        <value>Программирование</value>
        <value>Теоретическая механика</value>
        <value>Сопротивление материалов</value>
        <value>Прикладная механика</value>
        <value>ТОЭ</value>
        <value>Химия</value>
        <value>Детали машин</value>
        <value>Инженерная графика</value>
        <value>История</value>
        <value>Логика</value>
        <value>Материаловедение</value>
        <value>Русский язык</value>
        <value>Эконометрика</value>
        <value>Экономика</value>
        <value>Электроника</value>
        <value>Английский язык</value>
        <value>Французский язык</value>
        <value>Немецкий язык</value>
        <value>Нет в списке</value>
    </parameter>
    
    <parameter name="tags" list="true">
        <value>Аналитическая геометрия</value>
        <value>Аналитическая динамика</value>
        <value>Аналитическая химия</value>
        <value>Выполнение лабораторных работ</value>
        <value>Вычисление пределов</value>
        <value>Динамика</value>
        <value>Дискретная математика</value>
        <value>Дифференциальное и интегральное исчисление</value>
        <value>Дифференциальные уравнения</value>
        <value>Интегральные уравнения</value>
        <value>Кинематика</value>
        <value>Коллоидная химия</value>
        <value>Комбинаторика</value>
        <value>Кратные и криволинейные интегралы</value>
        <value>Магнитные цепи.</value>
        <value>Математическая логика</value>
        <value>Математическая статистика</value>
        <value>Написание контрольных работ</value>
        <value>Написание рефератов по правоведению</value>
        <value>Нелинейные электрические цепи переменного тока.</value>
        <value>Неорганическая химия</value>
        <value>Органическая химия</value>
        <value>Переводы специальных технических текстов</value>
        <value>Переводы текстов школьной программы</value>
        <value>Переводы художественной литературы</value>
        <value>Переходные процессы в линейных электрических цепях</value>
        <value>Периодические несинусоидальные токи в линейных электрических цепях</value>
        <value>Пределы и непрерывность</value>
        <value>Решение задач по ТАУ (теории автоматического управления)</value>
        <value>Решение задач по биологии и генетике</value>
        <value>Решение задач по географии</value>
        <value>Решение задач по геодезии</value>
        <value>Решение задач по геологии</value>
        <value>Решение задач по материаловедению</value>
        <value>Решение задач по метрологии</value>
        <value>Решение задач по теплотехнике</value>
        <value>Решение задач по экологии</value>
        <value>Решение задач по эконометрике</value>
        <value>Решение задач по электронике</value>
        <value>Решение кейсов по экономике</value>
        <value>Ряды</value>
        <value>Ряды, функциональные ряды</value>
        <value>Статика</value>
        <value>Теория множеств</value>
        <value>Теория пределов</value>
        <value>Трехфазные цепи.</value>
        <value>Физическая химия</value>
        <value>Функции комплексного переменного</value>
        <value>Школьный курс</value>
        <value>Электрические цепи однофазного синусоидального тока.</value>
        <value>Электрические цепи постоянного тока.</value>
    </parameter>
    
    <parameter name="statusNew" list="false">
        <value>Заказ размещён недавно и ещё не оценен нашими специалистами</value>
    </parameter>
    
    <parameter name="statusOfflineRated" list="false">
        <value>Заказ оценен нашими специалистами, а значит может быть выполнен при внесении предоплаты.</value>
    </parameter>
    
    <parameter name="statusOnlineRated" list="false">
        <value>Заявка на онлайн-помощь рассмотрена нашими решающими.</value>
    </parameter>
    
    <parameter name="statusSolved" list="false">
        <value>Заказ решён. Для того, чтобы его скачать, заказчик должен оплатить вторую половину стоимости. </value>
    </parameter>
    
    <parameter name="statusOfflineAgreed" list="false">
        <value>Заказчик внес предоплату и поставил свое согласие на решение. </value>
    </parameter>
    
    <parameter name="statusOnlineAgreed" list="false">
        <value>Заказчик оплатил online-помощь. </value>
    </parameter>
    
    <parameter name="statusPayed" list="false">
        <value>Заказ выполнен и оплачен. Теперь заказчик может скачать решение.</value>
    </parameter>
    
    <parameter name="statusExpired" list="false">
        <value>Заказ просрочен.</value>
    </parameter>
   
    <parameter name="openIdWidgetId" list="false">
        <value>16675</value>
    </parameter>
    <parameter name="openIdSecretKey" list="false">
        <value>da55bc3d147b61a5aaf9b6a29a1d0cfa</value>
    </parameter>
   
    <parameter name="YandexLastOperationId" list="false">
        <value>772884699550116025</value>
    </parameter>
    
    <parameter name="YandexToken" list="false">
        <value>410011373789086.AD56B2703C1F14CDA03E3FC6E00795D18892A45E9D1A3CD2825992EACF0812E57CEAFE7C2CE3AFFA18C46075CA79DC4827E82D0BD47CA576D7634150995E91C68A48350E2D7793589D77F51B1645D63AE5849CF7A5B0BF91E6C1F11796A26783FAEF30C717353CDF5335456D4C8A057F2FCBB39F6BA81AD5406BD634413D9C52</value>
    </parameter>
   
    <parameter name="YandexPurse" list="false">
        <value>410011373789086</value>
    </parameter>
    
    <parameter name="yandexId" list="false">
        <value>7E35884E9F3D0DC7ADE5A85F524D52D01B4CEB086650663C843939FE73AE733A</value>
    </parameter>
   
    <parameter name="redirectUri" list="false">
        <value>http://reshaka.ru/redirected</value>
    </parameter>
    
    <parameter name="WebmoneyLastMessageReceivedDate" list="false">
        <value>12/17/2012 14:46:22</value>
    </parameter>
    
    
    
</ReshakaConfig>
